---
layout: default
---

<div class="home">


  <p><b>Boas vindas ao site do DebianDay São Paulo 2018</b></p>

  <p><b>SALVE A DATA!</b> Neste ano, o DebianDay São Paulo acontecerá no dia <b>18 de agosto, no <a href="https://www.matilhacultural.com">Matilha Cultural</a>, próximo ao metrô República</b>. Aproveite a oportunidade e venha conhecer um pouco mais sobre o projeto!</p>

  <h3>Projeto Debian</h3>

  <p><a href="http://debian-br.sourceforge.net/docs/sgml/project-history/online/ch1.html#s1.1">Oficialmente fundado</a> por Ian Murdock, em 16 de agosto de 1993, Debian representava o apelo à criação de uma distribuição GNU/Linux a ser mantida de uma maneira livre*. Desde então, Debian GNU/Linux -- sistema operacional composto inteiramente de software livre -- é mantido ativo por voluntárias(os) ao redor do mundo que compõe uma comunidade dinâmica e crescente. </br>*"Free as freedom", em português "livre como em liberdade", isto é: flexibilidade ao usuário para fazer o que precisar para usufruir do software e ao mesmo tempo protege os direitos das(os) autoras(es). </p>

  <h3>DebianDay</h3>
  <p>A comunidade Debian celebra anualmente o aniversário do projeto com o <b>DebianDay</b>, em português "Dia Debian". O evento ocorre no dia 16 de agosto ou no final de semana mais próximo e possui atividades voltadas inteiramente para divulgação e contribuições ao projeto.</p> 

</div>

<div>
  <h2>Organização</h2>
  <div style="margin: 15px">
    <a href="http://debianbrasil.org.br/">
      <img src="{{ site.url }}/images/logo-debianbrasil.png" alt="Debian Brasil logo">
    </a>
    <a href="https://wiki.debian.org/DebianDay">
      <img src="{{ site.url }}/images/debian-day.jpg" alt="Debian Day logo" style="max-width: 15%">
    </a>
  </div>
</div>

